@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
    margin: 0;
}

.quicksand-uniquifier {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */

.btn-primary{
    padding: 10px 60px;
    background-color: #FEA301;
    color: #FFFFFF;
    border: none;
    outline: none;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
}

.btn-secondary{
    border: none;
    outline: none;
    padding: 10px 47px;
    background-color: #111111;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.25rem;
    border-radius: 12px;
    cursor: pointer;
}

.card-btn{
    padding: 10px 20px;
    border-radius: 48px;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}

.dark-1{
    color: #000000;
}

.dark-2{
    color: #202020;
}

.text-light-gray-1{
    color: #808080;
}

.text-light-gray-2{
    color: #666666;
}

.text-primary{
    color: #FEA301;
}

.text-secondary{
    color: #01ACFD;
}

.bold-text{
    font-weight: 700;
}

.semibold-text{
    font-weight: 600;
}

.text-medium{
    font-weight: 500;
}


/* nav styles added */

header{
    max-width: 1440px;
    margin: 0 auto;
}

nav{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    display: flex;
    align-items: center;
}

nav .logo p{
    font-size: 2rem;
}

nav .list-items{
    display: flex;
    list-style: none;
    font-size: 1.25rem;
    gap: 32px;
    cursor: pointer;
}

nav ul li:nth-child(3){
    color: #05D4DF;
}

nav ul li:nth-child(4){
    color: #5D58EF;
}

nav .fa-solid{
    display: none;
    font-size: 1.87rem;
}

/* banner styles added  */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text{
    max-width: 640px;
}

.banner-title{
    font-size: 3.5rem;
}

.banner-description{
    max-width: 640px;
    font-size: 1.25rem;
    margin-top: -10px;
}

/* features section styles added */

.features{
    padding: 60px 0;
    background-image: url(bg.png);
}

.feature-title{
    font-size: 2.87rem;
    text-align: center;
}

.feature-width{
    max-width: 1440px;
    margin: 0 auto;
}

.features-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 28px;
    margin: 80px 0;
    border-radius: 18px;
}

.features-card{
    max-width: 367px;
    padding: 52px 40px;
    border-radius: 18px;
}

.features-box .features-card:nth-child(1){
    border: 0.94px solid #DEF5FF;
    box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.05) inset;
    background: linear-gradient(to bottom, rgba(222, 245, 255, 1) 0%, rgba(255, 255, 255, 0) 40%);
}

.features-box .features-card:nth-child(2){
    border: 0.94px solid #FFF4DC;
    box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.05) inset;
    background: linear-gradient(to bottom, rgba(255, 244, 220, 1) 0%, rgba(255, 255, 255, 0) 40%);
}

.features-box .features-card:nth-child(3){
    border: 0.94px solid #F2E8FF;
    box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.05) inset;
    background: linear-gradient(to bottom, rgba(238, 225, 255, 1) 0%, rgba(255, 255, 255, 0) 40%);
}

.feature-card-title{
    font-size: 1.6rem;
}

.feature-card-description{
    font-size: 0.9rem;
    line-height: 28px;
    margin-bottom: 40px;
}

.features-card .link-1{
    font-size: 1rem;
    text-decoration: none;
    color: #64C8FF;
}

.features-card .link-2{
    font-size: 1rem;
    text-decoration: none;
    color: #F0AA00;
}

.features-card .link-3{
    font-size: 1rem;
    text-decoration: none;
    color: #8700FF;
}

.arrow-icon{
    text-align: center;
    font-size: 1.5rem;
}

.arrow-icon i{
    padding: 20px 25px;
    margin: 5px;
    color: #FFFFFF;
    background-color: #FEA301;
    border-radius: 100px;
}

/* Stories section styles added */

.stories{
    padding: 60px 0;
    background-image: linear-gradient(to top ,rgba(254, 163, 1, 0.2) 0%, rgba(255, 255, 255, 1) 100%),url(bg.png);
    background-size: cover;
    background-position: top bottom;
}

.stories-width{
    max-width: 1440px;
    margin: 80px auto;
}

.stories-title{
    font-size: 2.87rem;
    text-align: center;
}

.story-card-one{
    max-width: 540px;
    border-radius: 1rem;
    background-color: #FFFFFF;
}

.card-one-text{
    padding: 40px;
}

.story-card-title{
    font-size: 1.5rem;
}

.story-card-description{
    font-size: 1rem;
    line-height: 1.8rem;
}

.story-card-one .story-1{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.stories-box{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.story-card-tow{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card-one{
    max-width: 290px;
    max-height: 300px;
    border-radius: 1rem;
    background-color: #FFFFFF;
}

.card-tow-text{
    font-size: 0.9rem;
    padding: 0 40px;
    margin-top: 20px;
}

.card-one img{
    border-radius: 16px 16px 0 0;
}

.view-btn{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* mobile screen media query styles */

@media screen and (max-width: 576px) {

    /* nav media styles */

    nav .list-items, 
    .logo-text, .nav-btn{
        display: none;
    }

    nav{
        padding: 12px 16px;
        border: 0.5px solid #FEA301;
    }

    nav .logo img{
        width: 46px;
    }

    nav .fa-solid{
        display: block;
    }

    /* banner media styles  */

    .banner{
        margin-top: 20px;
        flex-direction: column-reverse;
        text-align: center;
    }

    .banner .hero-kids{
        width: 335px;
    }

    .banner-title{
        font-size: 2rem;
    }

    .banner-description{
        max-width: 357px;
        font-size: 0.87rem;
        text-align: center;
    }

    .banner-btn{
        padding: 6px 24px;
        font-size: 1rem;
        border-radius: 8px;
        line-height: 30px;
    }

    /* features media styles  */

    .features{
        margin-top: -40px;
    }

    .feature-title{
        font-size: 1.6rem;
    }

    .features-box{
        margin-top: 0;
        margin-bottom: -80px;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .features-card img{
        width: 92px;
    }

    .feature-card-title{
        font-size: 1rem;
    }

    .feature-card-description{
        max-width: 230px;
        font-size: 0.7rem;
    }
    .link-1{
        font-size: 0.7rem;
    }

    .features-card .link-1{
        font-size: 0.7rem;
    }
    .features-card .link-2{
        font-size: 0.7rem;
    }
    .features-card .link-3{
        font-size: 0.7rem;
    }

    .arrow-icon{
        display: none;
    }

    /* stories media styles added */

    .stories-title{
        font-size: 1.6rem;
    }

    .stories-width{
        margin: 40 auto;
    }

    .stories-width{
        flex-direction: column;
    }

    .story-card-one{
        display: none;
    }

    .card-one{
        max-width: 173px;
        max-height: 180px;
    }

    .card-one img{
        width: 173px;
        height: 105px;
    }

    .card-tow-text{
        font-size: 0.5rem;
        padding: 0 19px;
        margin-top: 15px;
        line-height: 1.1rem;
    }

    .view-btn{
        padding: 10px 37px;
        font-size: 1rem;
    }
}