@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
    max-width: 1440px;
    margin: 0 auto;
}

.quicksand-uniquifier {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */

.btn-primary{
    padding: 10px 60px;
    background-color: #FEA301;
    color: #FFFFFF;
    border: none;
    outline: none;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
}

.btn-secondary{
    border: none;
    outline: none;
    padding: 10px 47px;
    background-color: #111111;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.25rem;
    border-radius: 12px;
    cursor: pointer;
}

.card-btn{
    padding: 10px 20px;
    border-radius: 48px;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}

.dark-1{
    color: #000000;
}

.dark-2{
    color: #202020;
}

.text-light-gray-1{
    color: #808080;
}

.text-light-gray-2{
    color: #666666;
}

.text-primary{
    color: #FEA301;
}

.text-secondary{
    color: #01ACFD;
}

.bold-text{
    font-weight: 700;
}

.semibold-text{
    font-weight: 600;
}

/* nav styles added */

nav{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    display: flex;
    align-items: center;
}

nav .logo p{
    font-size: 2rem;
}

nav .list-items{
    display: flex;
    list-style: none;
    font-size: 1.25rem;
    gap: 32px;
    cursor: pointer;
}

nav ul li:nth-child(3){
    color: #05D4DF;
}

nav ul li:nth-child(4){
    color: #5D58EF;
}

nav .fa-solid{
    display: none;
}

/* banner styles added  */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text{
    max-width: 640px;
}

.banner-title{
    font-size: 3.5rem;
    line-height: 61px;
}

.banner-description{
    max-width: 640px;
    font-size: 1.25rem;
    margin-top: -10px;
}